<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="hwsim" name="HWSim" schema="schema/hwsim.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.palladiosimulator.hwsimcoupling.configuration.ui.handler.OpenProfileConfigrationUI"
            id="org.palladiosimulator.hwsimcoupling.openManager"
            name="Open Profile Manager">
      </command>
      <command
            defaultHandler="org.palladiosimulator.hwsimcoupling.configuration.ui.handler.OpenAvailableExtensionUI"
            id="org.palladiosimulator.hwsimcoupling.openAvailable"
            name="Open available HWSim">
      </command>
      <command
            defaultHandler="org.palladiosimulator.hwsimcoupling.configuration.ui.handler.OpenDemandCacheUI"
            id="org.palladiosimulator.hwsimcoupling.openDemandCache"
            name="Open Demand Cache">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="HWSimCoupling">
            <command
                  commandId="org.palladiosimulator.hwsimcoupling.openManager"
                  label="Open profile manager"
                  style="push"
                  tooltip="Open the manager to configure additional parameters">
            </command>
            <command
                  commandId="org.palladiosimulator.hwsimcoupling.openAvailable"
                  label="Display available hwsim"
                  style="push"
                  tooltip="Display available HWSim">
            </command>
            <command
                  commandId="org.palladiosimulator.hwsimcoupling.openDemandCache"
                  label="Open demand cache Manager"
                  style="push"
                  tooltip="Open the manager to configure the demand cache">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://HWSIM_SCHEDULER_MODELS/"
            target="platform:/plugin/org.palladiosimulator.hwsimcoupling/models/">
      </mapping>
   </extension>
   <extension
         id="org.palladiosimulator.hwsimcoupling.scheduler.Delay"
         name="HWSim Delay Scheduler"
         point="de.uka.ipd.sdq.scheduler">
      <scheduler
            class="org.palladiosimulator.hwsimcoupling.scheduler.HWSimDelaySchedulerExtensionFactory">
      </scheduler>
   </extension>
   
   <extension
         id="org.palladiosimulator.hwsimcoupling.scheduler.FCFS"
         name="HWSim FCFS Scheduler"
         point="de.uka.ipd.sdq.scheduler">
      <scheduler
            class="org.palladiosimulator.hwsimcoupling.scheduler.HWSimFCFSSchedulerExtensionFactory">
      </scheduler>
   </extension>
   
   <extension  
         id="org.palladiosimulator.hwsimcoupling.scheduler.ProcessorSharing"
         name="HWSim Processor Sharing Scheduler"
         point="de.uka.ipd.sdq.scheduler">
      <scheduler
            class="org.palladiosimulator.hwsimcoupling.scheduler.HWSimProcessorSharingSchedulerExtensionFactory">
      </scheduler>
    </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.palladiosimulator.hwsimcoupling.hwsimPage"
            class="org.palladiosimulator.hwsimcoupling.ProfileManagerPage"
            id="org.palladiosimulator.hwsimcoupling.profileManagerPage"
            name="Profile Manager">
      </page>
      <page
            category="org.palladiosimulator.hwsimcoupling.hwsimPage"
            class="org.palladiosimulator.hwsimcoupling.AvailableExtensionPage"
            id="org.palladiosimulator.hwsimcoupling.availableExtensionPage"
            name="Available HWSim Extensions">
      </page>
      <page
            category="org.palladiosimulator.hwsimcoupling.hwsimPage"
            class="org.palladiosimulator.hwsimcoupling.cachedDemandsPage"
            id="org.palladiosimulator.hwsimcoupling.cachedDemandsPage"
            name="Cached Demands">
      </page>
      <page
            class="org.palladiosimulator.hwsimcoupling.HWSimPage"
            id="org.palladiosimulator.hwsimcoupling.hwsimPage"
            name="HWSim Configuration">
      </page>
   </extension>
>
</plugin>
